doctype
html
  include ./head.pug
  
  body
    include introduction.pug
    
    include dropdownMenu.pug
    
    include notificationsAlerts.pug
    
    include spinnersLoaders.pug
    
    include stepByStepForm.pug
    
    include loadAnimations.pug
